<div class="center_everything">
<h1> You have added to cart! </h1>
<h2>Ordered: <%= @cartedproduct.product.name%></h2>
<h2>Order Quanitiy: <%= @cartedproduct.quantity%></h2>
<p><a class="btn btn-info btn-md" href="/products" role="button">Click Shop to Some More</a></p>
<p><a class="btn btn-info btn-md" href="/cartedproducts/checkout" role="button">Click Here to Go Checkout</a></p> 
