// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: auto;
  width: auto;
  max-height: 250px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

#money {
  font-style: italic;
}

#desc {
  font-size: 20px;
}

.well well-lg {
  font-size: 50px;
}

.center_everything {
  text-align: center;

}

body {
  font-family: 'Bungee Shade', cursive;
  background-image: url(congruent_outline.png);
}

a{
    color: black;
}

a:hover {
    color: pink;
}

.jumbotron {
  background-image: url(subtle_dots.png);
  height: 500px;
}

#input {
  color: black;
}
.show {
  color: white;
}

.product_edit {
  color: pink;
}

#pink {
   color: pink;
}

.btn {
  border-radius: 24px;
  font-family: 'Orbitron', sans-serif;
  color: black;
}

.butt {
  color: black;
}

.btn-pink {
  background: pink;
}

.navbar-default {
  background-color: #DBD9EC;
  border-color: #CCC9C4;
}

h4 {
  color: #CCC9C4
;
}

.sale {
  color: red;
  font-size: x-large;
  text-decoration: underline;
}

.search_bar {
  color: pink;
}
