<title>My Store</title>
<div class="well well-lg"><center>Welcome to My Store!</center></div>
<div class="container">

  <div class="row">

  <% @view_products.each do |product|%>

  <div class="col-md-6">
    <div class="jumbotron">
      <div class="center_everything">
        <p><%= product.name.capitalize %></p>
        <p><img src=<%= product.image %>></p>
        <p><%= product.description %></p>
        <p><a class="btn btn-primary btn-md" href="#" role="button"><%= number_to_currency(product.price * 1.1) %></a></p>
      </div>
    </div>
  </div>
  <% end -%>
</div>
